BODY { background-color: #FAFFFA; } 
P { font-family: Arial, sans-serif; font-size: small; color: #336699; } 
SMALL { font-family: Arial, sans-serif; font-size: x-small; color: #336699; } 
H1 { font-size: large; } 
H2 { font-size: medium; } 
H3 { font-size: small; } 
H4 { font-size: x-small; } 
B { font-weight: bold; } 
I { font-style: italic; } 
TD { font-family: Arial, sans-serif; font-size: small; color: #336699; } 
TH { font-family: Arial, sans-serif; font-size: small; color: #336699; } 
TR.dark { background-color: #DDDDDD; } 
TR.light { background-color: #EEEEEE; } 
A:Link { color: #3366CC; text-decoration: underline; } 
A:Visited { color: #993399; text-decoration: underline; } 
A:Active  { color: #FF0033; text-decoration: none; } 
A:Hover { color: #FF0033; text-decoration: none; } 
.menu LI A:Link  { color: #3366CC; text-decoration: none; } 
.menu LI A:Visited  { color: #993399; text-decoration: none; } 
.menu LI A:Active  { color: #FF0033; text-decoration: underline; } 
.menu LI A:Hover  { color: #FF0033; text-decoration: underline; } 
.MainColumns { font-family: Arial, sans-serif; font-size: small; color: #336699; } 
.MenuFrame { background-color: #336699; } 
.Menu { background-color: #FAFFFA; } 
.MenuContent { font-family: Arial, sans-serif; font-size: small; } 
.NodeFrame { background-color: #336699; } 
.Node { background-color: #FAFFFA; } 
.NodeTitle { font-family: Verdana, sans-serif; background-color: #336699; font-size: medium; color: #FAFFFA; font-weight: bold } 
.NodeMeta { font-family: Arial, sans-serif; background-color: #9DCDE9; font-size: small; color: #336699; } 
.NodeContent { font-family: Verdana, sans-serif; font-size: small; color: #336699; } 
.NodeMenu { font-family: Arial, sans-serif; font-size: small; } 
.NodeTaxbar { font-family: Arial, sans-serif; background-color: #FAFFFA; font-size: small; color: #336699; } 
.BoxFrame { background-color: #336699; } 
.Box { background-color: #FAFFFA; } 
.BoxTitle { font-family: Verdana, sans-serif; background-color: #336699; font-size: medium; color: #FAFFFA; font-weight: bold } 
.BoxContent { font-family: Arial, sans-serif; font-size: small; color: #336699; } 
.CommentFrame { background-color: #336699; } 
.Comment { background-color: #FAFFFA; } 
.CommentTitle { font-family: Verdana, sans-serif; background-color: #336699; font-size: medium; color: #FAFFFA; font-weight: bold; } 
.CommentMeta { font-family: Arial, sans-serif; background-color: #9DCDE9; font-size: small; color: #336699; } 
.CommentContent { font-family: Verdana, sans-serif;  font-size: small; color: #336699; } 
.CommentMenu { font-family: Arial, sans-serif; font-size: small; } 
.Header { font-family: Verdana, sans-serif; font-size: 42pt; color: #336699; font-weight: bold;} 
.Description { font-family: Verdana, sans-serif; font-size: large; } 
.Footer { font-family: Arial, sans-serif; font-size: x-small; color: #336699; } 
.Breadcrumb { font-family: Arial, sans-serif; font-size: small; color: #336699; font-weight: bold; } 
.poll .bar .foreground { background-color: #336699; } 
.poll .bar .background { background-color: #9DCDE9; } 